<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Ecommerce Website">
    <listeners>
        <listener class-name="listeners_component.Listeners"></listener>
    </listeners>

    <test verbose="5" preserve-order="true" name="Happy cases">
        <classes>
            <class name="Refactor_TC"></class>
        </classes>
    </test>

    <test verbose="5" preserve-order="true" name="Negative cases">
        <classes>
            <class name="Refactor_negative_TC"></class>
        </classes>
    </test>



</suite>